html{
    scroll-behavior: smooth;
}

/* Banner */
.bg-container {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 700px;
    background-image: url(../img/Images/HeroBannerImage1.png);

    @media (max-height: 600px) {
        height: 600px;
    }
}

/* Product information  */
.product-container {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 700px;
    background-image: url(../img/Images/productinformation.png);

    @media (max-height: 600px) {
        height: 600px;
    }
}

/* Drone scrolling  */
.drone-container {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 1500px;
    background-image: url(../img/Images/DroneFlyingDownRoad.jpeg);

    @media (max-height: 600px) {
        height: 900px;
    }
}
.drone-container   .dark-overlay{
    background: rgba(0, 0, 0, 0.512);
    min-height: 1500px;
}

